*~
.*.swp
*.nfs*

*.tar.xz

###########################
# intermediate build code #
###########################
*.[oa]
*.bc
*.ll
*.log
*.kdump
*.pyc
nesting.dot
sregions.txt
region.graph
kremlin.mk
kremlin_region_graph.dot
*.ids.txt
*.so
*.dylib

instrument/Makefile
instrument/src/Makefile
CMakeCache.txt
CMakeFiles
cmake_install.cmake

.sconsign.dblite

kremlin.bin
